<div class="container w-25">
  <div class="row justify-content-center">
    <div class="col">
      <h1 class='m-3 form border-bottom', style="color:#222222;">Survey Results</h1>
      <% @questions.each do |question| %>
        <%= simple_format(question.content)  %>
        <% grouped_answers = question.answers.group_by(&:content) %>
        <% a = grouped_answers["A"]&.count %>
        <% b = grouped_answers["B"]&.count %>
        <% c = grouped_answers["C"]&.count %>
        <% d = grouped_answers["D"]&.count %>
        <div>
          <div class="card-category align-items-center" style="background-color: #1DDD88 ;height: 25px; margin-top: 8px; width: <%= a.to_i*20+100%>px"><%= "A - #{a.to_i}" %></div>
          <div class="card-category align-items-center" style="background-color: #1DDD88 ;height: 25px; margin-top: 8px; width: <%= b.to_i*20+100%>px"><%= "B - #{b.to_i}" %></div>
          <div class="card-category align-items-center" style="background-color: #1DDD88 ;height: 25px; margin-top: 8px; width: <%= c.to_i*20+100%>px"> <%= "C - #{c.to_i}" %></div>
          <div class="card-category align-items-center" style="background-color: #1DDD88 ;height: 25px; margin-top: 8px; margin-bottom: 30px; width: <%= d.to_i*20+100%>px"><%= "D - #{d.to_i}" %></div>
        </div>
        <hr>
      <% end %>
      <div class="mb-5"></div>
    </div>
  </div>
</div>
