<div class="container w-25">
  <div class="row justify-content-center">
    <div class="col">
      <h1 class='m-3 form', style="color:#424874;">Survey Results</h1>
      <% @questions.each do |question| %>
        <%= simple_format(question.content)  %>
        <% question.answers.each do |answer| %>
          <% a = 0 %>
          <% b = 0 %>
          <% c = 0 %>
          <% d = 0 %>
          <% answer.content %>
          <% if answer.content == "A" %>
            <% @a =+ 1 %>
          <% elsif answer.content == "B" %>
            <% @b =+ 1 %>
          <% elsif answer.content == "C" %>
            <% @c =+ 1 %>
          <% elsif answer.content == "D" %>
            <% @d =+ 1 %>
          <% end %>
        <% end %>
        <div>
          <div class="card-category bg-primary" style="height: 25px; margin-top: 15px; width: <%= @a.to_i*60+100%>px"><%= "A = #{@a.to_i}" %></div>
          <div class="card-category bg-primary" style="height: 25px; margin-top: 15px; width: <%= @b.to_i*60+100%>px"><%= "B = #{@b.to_i}" %></div>
          <div class="card-category bg-primary" style="height: 25px; margin-top: 15px; width: <%= @c.to_i*60+100%>px"> <%= "C = #{@c.to_i}" %></div>
          <div class="card-category bg-primary" style="height: 25px; margin-top: 15px; width: <%= @d.to_i*60+100%>px"><%= "D = #{@d.to_i}" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
